@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;1,100;1,200&family=Open+Sans:ital,wght@1,300&family=Raleway:wght@100&display=swap');

/* reset */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Raleway', sans-serif;
    margin: 0;
    line-height: 1.5;
    background-color: #2b2a33;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: #222;
}


/* fin reset */



header h1{
    text-align: center;
    font-size: 2.5rem;
    margin :3.5rem;
    color: #fff;
    font-size: 35px;

}
.container-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    /* alignement */
    gap: 0.8rem;
    
}
.questions{
    width: 100%;
    max-width: 60rem;
    
}


.container-faq>.questions>.visible-pannel{
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    color: #4c4b4e;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.visible-pannel h2{
    margin-left: 2rem;
    font-size: 2.2rem;
    color: #4c4b4e;
}
.visible-pannel img{
    max-width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.toggle-pannel{
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-on{
    display: block;
    margin: 2rem;
    color: #f0f0f0;
    transition: 0s all ease-in-out ;
 
}
.toggle-on>h3{
    font-size: 2rem;

}
.toggle-on>p{
    font-size: 2rem;
    line-height: 1.8rem;
}


